name: Fetch IG Data

on:
  schedule:
    # Runs at 4 AM UTC (5 AM in Poland during Standard Time)
    - cron: '0 4 * * *'
  workflow_dispatch:
    inputs:
      browser:
        type: choice
        description: Which browser to test
        required: true
        options:
          - chrome
          - firefox
          - edge
        default: 'chrome'

jobs:
  fetch_data:
    runs-on: ubuntu-latest

    permissions:
      contents: write
      pull-requests: write

    container:
      image: node:23

    services:
      selenium:
        image: selenium/standalone-${{ github.event.inputs.browser || 'chrome' }}
        options: --shm-size=2gb

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: '23'
          cache: 'npm'
      - run: npm ci

      - id: fetch_data
        run: npm run ig_fetch_data
        env:
          BROWSER: ${{ github.event.inputs.browser || 'chrome' }}
          USERNAME: ${{ secrets.REDDIT_USERNAME }}
